body{
    background-color: #27014B;
}

h1{
    font-family: 'Roboto Mono', monospace;
    color: #E6CFFC;
}

h2{
    font-family: 'Roboto Mono', monospace;
    color: #E6CFFC;
}

p{
    font-family: 'Roboto Mono', monospace;
    color: E6CFFC;
}
td{
    font-family: 'Roboto Mono', monospace;
    color: E6CFFC;
    background-color: #7A38B8;
}

th{
    font-family: 'Roboto Mono', monospace;
    color:E6CFFC;
    background-color: #8D41D4;
}

.myAnswer{
	
    z-index: -1;
    width: 600px;
}
.hoverBack{
    background: purple;
    position: absolute; 
    top: 290px;
    left: 0px;
    transition: width 2s;
    width: 600px;
	height: 100px;
    z-index: 2;
   
}
.hoverBack:hover {
    transition: width 6s;
    background: purple;
	width: 6px;
    
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

li a:hover {
  background-color: gray;
}
