h1{
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    color: #E56500;
}

li{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #E56500;
}
body{
    background-color: #FDF6ED;
}