p{
    
    font-size: 80px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'Anton', sans-serif;
    animation-name: textTransition; 
    animation-duration: 4s; 
    animation-iteration-count: infinite; 

    
}

body{
    background-image: url(images/gayAuntie.jpg);
}

@keyframes textTransition {
  0% {
       color: #07A8E9;
      opacity: 1;
     } 
  50% {
        color: #07A8E9;
        opacity: 0;
     }
  100% {
        color: #07A8E9;
        opacity: 1;
    }
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

li a:hover {
  background-color: gray;
}
