body{
    background-color: #053C06;
}

h1{
    text-align: center;
    font-size: 45px;
    color: #2CF50D;
    font-family: 'Lalezar', cursive;
}
img{
  
    position:absolute;
    top: calc(50% -175px);
    left: calc(50% -150px);
    
    width: 30%;
    height: 70%;
}

/*Previous code learned from w3schools was referenced in making this*/

.flipC {
  width: 1000px;
  height: 500px;
  perspective: 1000px; 
}


.innerFlip {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.flipC:hover .innerFlip {
  transform: rotateY(180deg);
}

.frontFlip, .backFlip {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}


.backFlip {
  transform: rotateY(180deg);
}

