body{
    background-color: #ff0000;
    
    
}

p{
    text-align: center;
    color: darkred;
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
}
#pony{
    float: right;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

li a:hover {
  background-color: gray;
}